/*Google Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Lora", "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem; /*1 rem = 16px*/
    scroll-behavior: smooth;
}


/*Variaveis de cor*/
:root{
  --blue-color: #017bce;
  --light-blue-color: #2C9EEB;
  --orange-color: #FF8D54;
  --brown-color: #6B4836; 
  --text-color: black;
  --bg-color: #FAF2E7;
  --darker-bg-color: #ddd6cd;
}


html {
  height: 100%; /* Garante que o HTML e body ocupem toda a altura */
  margin: 0;
  padding: 0;
}


body {

  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima da página */
  margin: 0;
  background-color: var(--bg-color);
  color: var(--bg-color);
  overflow-x: hidden;
}

/* ------------------------------------------------------------- CABEÇALHO ----------------------------------------------------------------*/

header{
  width: 100%;
  height: 170px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--blue-color);
  padding: 10px 50px;
}

.logo{
  display: inline-block; /* Garante que o link não expanda */
  max-width: 180px;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
  column-gap: 0.5rem;
}

.logo img{
  width: 200px;
  height: 160px;
}

.logo .bx{
  color: var(--light-blue-color);
}

.navbar{
  width: 300px;
  height: 200px;
  color: var(--light-blue-color);
  align-content: center;
  padding-left: 5rem;
}

#carrinho-icon {
  font-size: 75px;
}

#menu-icon {
  font-size: 75px;
}

.iconesNav {
  display: fixed;           
  justify-content: center; 
  align-items: center;     
  overflow: visible;
  color: var(--orange-color);
  padding: 10px 10px 10px 10px;
}

.iconesNav:hover{
  width: 10rem;
  height: 10rem;
  color: var(--light-blue-color);
  transition: background 0.5s;
}

/* ------------------------------------------------------------- CONTEUDO ----------------------------------------------------------------*/

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAF2E7;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.form h2 {
  text-align: center;
  color: #007BCE;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}

.campo {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.campo label {
  font-size: 20px;
  color: black;
  text-align: right;
  align-items: end;
  padding-right: 10px;
}

.campo input, 
.campo select {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid hsl(0, 0%, 64%);
  border-radius: 4px;
  font-size: 16px;
  text-align: left;
}

.campo select{
  font-size: 15px;
  width: 217px;
  border: 2px solid hsl(0, 0%, 64%);
  border-radius: 4px;
  background-color: white;
}

.select:focus option[hidden] {
   display: none;
}

.att-button {
  background-color: #FF8D54;
  color: white;
  border: none;
  height: 40px;
  width: 105px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

/* ------------------------------------------------------------- RODAPÉ ----------------------------------------------------------------*/

.footer {
  background-color: #FF8D54;
  color: white;
  width: 100%;
  max-width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  padding: 10px;
}

.copyright {
  color: white;
  text-align: center;
  display: inline-block;
  text-align: left;
}

/* ------------------------------------------------------------- TAMANHO TELAS ----------------------------------------------------------------*/


@media (max-width: 1200px) {
  .produtos-container {
      grid-template-columns: repeat(4, 1fr); /* 4 colunas em telas menores */
  }
}

@media (max-width: 992px) {
  .produtos-container {
      grid-template-columns: repeat(2, 1fr); /* 2 colunas para tablets */
  }
}

@media (max-width: 768px) {
  .produtos-container {
      grid-template-columns: 1fr; /* 1 coluna em dispositivos móveis */
  }
}